<!doctype html>
<html>
    <head>

    </head>
    <body>
        <h2> My first name is - {{firstname}}</h2>
        <h2> My last name is - {{lastname}}</h2>
        <h2> My full name is - {{fullname}}</h2>
        <div>
            <p>The template generated for given VideoID {{videoId}}</p>
            <p>{{Transcript}}</p>
            <p>Length of transcript = {{transcript_length}}</p>
            <p>Time Taken to generate transcript is: {{timeTaken/1000}} ms</p>
        </div>
    </body>
</html>